.git
.gitignore
.github
.vscode
Admin-system-

node_modules
.next
.next-local
.next-prod
tsconfig.tsbuildinfo

.env
.env.local
.env.docker
.env.docker.local

prisma/dev.db
prisma/dev.db-journal
prisma/dev-quotes.db
prisma/dev-quotes.db-journal

build*.log
tmp-*.log
*.log

data
coverage
